#cursor {
    top: 0;
    left: 0;
    position: fixed;
    pointer-events: none;
    will-change: transform;
    mix-blend-mode: difference;
    transition: transform .05s linear;
    z-index: 9999;
}
.cursor {
    top: -4px;
    left: -4px;
    width: 8px;
    height: 8px;
    position: fixed;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    transform: translate(-50%, -50%);
    will-change: transform;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 9999;
}
.cursor .curr {
    width: 5em;
    position: absolute;
    transition: opacity .15s ease-in-out, transform .35s cubic-bezier(var(--transition-main), 1.275);
}
.cursor .cursor-default {
    background-image: url('../images/cursor/cursor.svg');
    transform: translate(-47%, -40%) scale(1, 1);
    opacity: 1;
}
.cursor .cursor-pointer {
    background-image: url('../images/cursor/cursor-pointer.svg');
    transform: translate(-47%, -36%) scale(1, 1);
    opacity: 0;
}
.cursor .cursor-grab {
    background-image: url('../images/cursor/cursor-grab.svg');
    transform: translate(-47%, -40%) scale(1, 1);
    opacity: 0;
}
.pointer > .cursor-default {
    transform: translate(-47%, -40%) scale(1.75, 1.75);
    opacity: 0;
}
.pointer > .cursor-pointer {
    transform: translate(-47%, -36%) scale(1.75, 1.75);
    opacity: 1;
}
.pointer > .cursor-grab {
    transform: translate(-47%, -40%) scale(1.75, 1.75);
    opacity: 0;
}
.grab > .cursor-default {
    transform: translate(-47%, -40%) scale(1.75, 1.75);
    opacity: 0;
}
.grab > .cursor-pointer {
    transform: translate(-47%, -36%) scale(1.75, 1.75);
    opacity: 0;
}
.grab > .cursor-grab {
    transform: translate(-47%, -40%) scale(1, 1);
    opacity: 1;
}
@media (hover: hover) and (pointer: fine) {
    .cursor-circle {
        width: 64px;
        height: 64px;
        margin-top: -50%;
        margin-left: -50%;
        border-radius: 50%;
        mix-blend-mode: difference;
        border: solid 1px rgba(255, 255, 255, 0);
        transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }

    #cursor.subtle .cursor-circle{
        opacity: 0.16;
    }

    #cursor.overlay .cursor-circle{
        width: 48px;
        height: 48px;
        background-color: rgba(227, 222, 193, 0.08);
        border-color: transparent;
    }
}