/* -
-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-* |

　. 　　　　　　　　　　　　　　　　　　o 　　　　　+
　　()　　　　　　+　 Made with ❤ by ~
　　　　　o 　　　      Areal Alien　　　　.
　　.　　　　　　　　　　　.
　　　　　　　　　　 ●▬▬▬๑ 💙 ๑▬▬▬●　　　　　　()
　　+　　　　　　. 　　　　　　　　　　　　　　o
　o　　　　　　　　　　　 ▄▀▄　　　▄▀▄　　　　　　　+
　　　　　　+　　　　　 ▄█░░▀▀▀▀▀░░█▄　　.
　　　.　　　　　 ▄▄ 　█░░░░░░░░░░░█　▄▄
　　　　　　.　 █▄▄█　█░░▀░░┬░░▀░░█　█▄▄█　　　o

-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-* |
- */

/* Table of contents

    1. Imports
    2. Global styles
        2.1 Typography
        2.2 Buttons
        2.3 Lists
        2.4 Forms
    3. Classes
        3.1 Loading
        3.2 Global Classes
            3.2.1 Flexbox
            3.2.2 Fonts
        3.3 Classes
            3.3.1 Navbar
            3.3.2 Header
            3.3.4 Main
            3.3.5 Footer
    4. ::Selectors
    5. @Keyframes
    6. @Media Rules
        6.1 max-width: 1660px
        6.2 max-width: 1456px
        6.3 max-width: 1024px
        6.4 max-width: 756px
        6.5 max-width: 576px
        6.6 max-width: 496px

*/

/* ============
    1. Imports
   ============ */

@import "variables.css";

@font-face {
    font-family: "Bebas Regular";
    src: url(../fonts/bebas/BebasNeue-Regular.otf);
}

/* ==================
    2. Global Styles
   ================== */

*, *::before, *::after {
    box-sizing: inherit;
    cursor: none;
}
html, body {
    margin: 0;
    width: 100%;
    color: hsl(var(--text-primary));
    font-family: var(--font-main);
    background-color: hsl(var(--background));
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* ================
    2.1 Typography
   =============== */

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
/* Font Size */
h1 {
    font-size: var(--heading-large);
}
h2 {
    font-size: var(--heading-medium);
}
h3 {
    font-size: var(--heading-small);
}
h4 {
    font-size: calc(var(--heading-small) - .2rem);
}
h5 {
    font-size: calc(var(--heading-small) - .4rem);
}
h6 {
    font-size: calc(var(--heading-small) - .6rem);
}
/* Font Weight */
h1, h2 {
    font-weight: 900;
}
h3, h4, h5, h6 {
    font-weight: 800;
}
/* Paragraphs */
p {
    margin: 0;
    font-size: var(--paragraph);
}
/* Links */
a {
    color: hsla(var(--primary), 1);
    font-size: var(--paragraph);
    text-decoration: underline;
}
a:visited {
    color: hsla(var(--primary), .5);
}

/* =============
    2.2 Buttons
   ============= */

button {
    padding: .8em 1.2em;
    border: 1px solid hsl(var(--black));
    background-color: var(--background);
    font-size: var(--paragraph);
    outline: none;
}
button:focus {
    box-shadow:
            0 0 0 2px hsl(var(--black)),
            0 0 0 3px hsl(var(--white));
    border: 1px solid transparent;
}

/* ===========
    2.3 Lists
   =========== */

ul, ol {
    margin: 1em 0;
}

/* ===========
    2.4 Forms
   =========== */

form {
    margin: 0;
}
fieldset {
    margin: 0;
    padding: .5em 0;
    border: none;
}
input {
    padding: .8em 1.2em;
    border: 1px solid hsl(var(--black));
    font-size: var(--paragraph);
    outline: none;
}
input:focus {
    box-shadow:
            0 0 0 2px hsl(var(--black)),
            0 0 0 3px hsl(var(--white));
    border: 1px solid transparent;
}
textarea {
    padding: .8em 1.2em;
    font-size: var(--paragraph);
    font-family: var(--font-main);
    outline: none;
}
textarea:focus {
    box-shadow:
            0 0 0 2px hsl(var(--black)),
            0 0 0 3px hsl(var(--white));
    border: 1px solid transparent;
}
/* Cursor none */
button, a {
    cursor: none;
}

/* ============
    3. Classes
   ============ */

a svg[data-name$="1"] {
    cursor: none;
}

/* =============
    3.1 Loading
   ============= */

.pace {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.pace-inactive {
    display: block !important;
    opacity: 0;
    transition: opacity.25s ease-in-out;
}
.pace .pace-progress {
    top: 0;
    right: 100%;
    width: 100%;
    height: 3px !important;
    background: var(--pace) !important;
    background-size: 105% !important;
    position: fixed;
    z-index: 2000;
}

/* ====================
    3.2 Global classes
   ==================== */

/* ===============
    3.2.1 Flexbox
   =============== */

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* Columns */
.flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.flexbox-col-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.flexbox-col-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}
.flexbox-col-start-center {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
/* Spacings */
.flexbox-space-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Fonts */
.bebas {
    font-family: var(--font-bebas);
}

/* ===============
    3.3 Classes
   =============== */

.view-width {
    width: 75%;
}
[class*="pribc"] *::selection {
    color: hsl(var(--primary));
    background: hsla(var(--black), .33);
}

/* ==============
    3.3.1 Navbar
   ============== */

#navbar {
    width: 100%;
    height: 5em;
    position: absolute;
    z-index: 100;
}
.navbar-inner {
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
}
/* Left */
.navbar-left {
    height: 100%;
}
.navbar-icon-wrapper {
    height: 100%;
}
.navbar-icon-wrapper svg {
    height: 3.5em;
    fill: hsl(var(--white));
}
/* Right */
.navbar-right {
    width: 100%;
    height: 100%;
}
.navbar-items-wrapper {
    height: 100%;
}
.navbar-items {
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
}
.navbar-item {
    height: 100%;
}
.navbar-item-inner {
    width: 100%;
    height: 100%;
    color: hsl(var(--white));
    text-decoration: none;
    font-weight: 300;
    transition: color .15s ease-in-out;
}
.navbar-item-inner:hover {
    color: hsl(var(--primary));
}
.navbar-item-inner:visited {
    color: hsl(var(--white));
}
.navbar-item-inner:visited:hover {
    color: hsl(var(--primary));
}
.navbar-item-inner span {
    margin: 0 .75em 0 0;
}
.shopping-cart-note {
    top: -.8em;
    left: 1.75em;
    padding: .75em 1.25em;
    position: fixed;
    color: hsl(var(--primary));
    background-color: hsla(var(--white), .2);
    backdrop-filter: blur(.6rem);
    border-radius: .2rem;
    pointer-events: none;
    will-change: transform;
    transition: opacity .15s ease-in-out;
    opacity: 0;
    z-index: 4;
}
.shopping-cart-note-icon {
    font-size: .85rem;
}
.shopping-cart-note-icon ion-icon {
    margin: 0 .6em 0 0;
}

/* ==============
    3.3.2 Header
   ============== */

#header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.header-title {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(hsla(var(--black), .4) 0%, hsla(var(--black), .6) 100%);;
    z-index: 3;
}
.header-title h1 {
    color: hsl(var(--white));
    text-align: center;
    word-break: break-word;
}
/* Header Background */
.header-background-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.header-background {
    min-width: 110%;
    min-height: 110%;
    max-height: 125%;
    position: absolute;
    background-color: hsl(var(--background));
    filter: hue-rotate(-5deg) saturate(1.5);
    object-fit: cover;
}
#header-background {
    transition: transform .3s cubic-bezier(var(--transition-main), 1.275), -webkit-transform .3s cubic-bezier(var(--transition-main), 1.275);
}

/* ============
    3.3.3 Main
   ============ */

#main {
    width: 100%;
    min-height: 75vh;
}
/* Animated Bar */
.animated-bar {
    width: 100%;
    height: 5em;
    background-color: hsl(var(--primary));
}
.animated-bar-inner {
    width: 100%;
    height: 100%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}
.animated-bar-inner > .animated-first {
    position: absolute;
    transform: translate(0);
    animation: animatedBar1 25s linear infinite;
    text-overflow: ellipsis;
}
.animated-bar-inner > .animated-second {
    position: absolute;
    transform: translate(-100%);
    animation: animatedBar2 25s linear infinite;
    text-overflow: ellipsis;
}
.animated-heart {
    height: 1em;
}
/* Product View */
.product-view {
    margin: 10em 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
}
.product-view-item {
    width: 100%;
    height: 1fr;
    position: relative;
    background-color: hsl(var(--background-secondary));
    overflow: hidden;
}
.product-view-item::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.product-info {
    width: 100%;
    height: 100%;
    position: absolute;
}
.product-item-top {
    width: 100%;
    color: hsl(var(--white));
}
.product-item-image {
    height: 30%;
    position: absolute;
}
.pitem2 {
    display: none;
}

/* ==============
    3.3.4 Footer
   ============== */

#footer {
    width: 100%;
    min-height: 10em;
    background-color: hsl(var(--background-secondary));
}
.footer-inner {
    padding: 8em 0;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10em;
}
/* Left */
.footer-left {
    height: 100%;
}
.footer-icon-wrapper svg {
    width: 5em;
    fill: hsl(var(--white));
    mix-blend-mode: overlay;
}
/* Right */
.footer-right {
    width: 100%;
    height: 100%;
}
.footer-sections {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5em;
}
.footer-section {
    width: 100%;
}
.footer-section-heading {
    color: hsl(var(--white));
    letter-spacing: .05em;
}
.footer-section-items-wrapper {
    margin: 1em 0 0 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer-section-items {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    place-items: flex-start;
    grid-gap: .5em;
    overflow: hidden;
    white-space: nowrap;
}
.footer-section-item-inner {
    display: inline-block;
    position: relative;
    color: hsl(var(--gray));
    text-decoration: none;
    font-weight: 300;
    text-overflow: ellipsis;
    transition: color .15s ease-in-out;
}
.footer-section-item-inner:hover {
    color: hsl(var(--primary));
}
.footer-section-item-inner:visited {
    color: hsl(var(--gray));
}
.footer-section-item-inner:hover:visited {
    color: hsl(var(--primary));
}
.footer-section-item-inner::after {
    top: 0;
    left: 0;
    content: '';
    width: 0;
    display: block;
    position: relative;
    border-bottom: 1px solid hsl(var(--gray));
    transition: width .15s ease-in-out, color .15s ease-in-out;
}
.footer-section-item-inner:hover::after {
    border-bottom: 1px solid hsl(var(--primary));
}
.footer-section-item-inner:hover::after {
    width: 100%;
}

/* ================
    4. ::Selectors
   ================ */

/* Selection */
::selection {
    color: hsl(var(--white));
    background: hsla(var(--primary), .33);
}
/* Scrollbar */
::-webkit-scrollbar-track {
    background-color: hsl(var(--background));
}
::-webkit-scrollbar {
    width: 8px;
    background-color: hsl(var(--background));
}
::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
}

/* ===============
    5. @keyframes
   =============== */

@keyframes animatedBar1 {
    0% { transform: translate(0); }
    0% { transform: translate(100%); }
}
@keyframes animatedBar2 {
    0% { transform: translate(-100%); }
    0% { transform: translate(0); }
}

/* =================
    6. @media rules
   ================= */

/* =======================
    6.1 max-width: 1660px
   ======================= */

@media only screen and (max-width: 1660px) {
    :root {
        /* Sizes */
        --heading-large: 5.4rem;
        --heading-medium: 3.4rem;
        --heading-small: 2.2rem;
    }
}

/* =======================
    6.2 max-width: 1456px
   ======================= */

@media only screen and (max-width: 1456px) {
    :root {
        /* Sizes */
        --heading-large: 5.2rem;
        --heading-medium: 3.2rem;
        --heading-small: 2rem;
    }
    .view-width {
        width: 80%;
    }
}

/* =======================
    6.3 max-width: 1024px
   ======================= */

@media only screen and (max-width: 1024px) {
    :root {
        /* Sizes */
        --heading-large: 5rem;
        --heading-medium: 3rem;
        --heading-small: 1.8rem;
    }
    .view-width {
        width: 90%;
    }
}

/* ======================
    6.4 max-width: 756px
   ====================== */

@media only screen and (max-width: 756px) {
    :root {
        /* Sizes */
        --heading-large: 4rem;
        --heading-medium: 2.6rem;
        --heading-small: 1.6rem;
        --paragraph: 1rem;
    }
    .view-width {
        width: calc(100% - 2em);
    }
    /* Navbar */
    /* Right */
    .navbar-items-wrapper {
        display: none;
    }
    /* Main */
    /* Product View */
    .product-view {
        grid-template-columns: 100%;
    }
    /* Footer */
    .footer-inner {
        grid-template-columns: 100%;
        place-items: center;
    }
    /* Right */
    .footer-sections {
        display: grid;
        grid-template-columns: 100%;
        place-items: center;
        grid-gap: 2.5em;
    }
}

/* ======================
    6.5 max-width: 576px
   ====================== */

@media only screen and (max-width: 576px) {

}

/* ======================
    6.6 max-width: 496px
   ====================== */

@media only screen and (max-width: 496px) {

}