/* -
-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-* |

　. 　　　　　　　　　　　　　　　　　　o 　　　　　+
　　()　　　　　　+　 Made with ❤ by ~
　　　　　o 　　　      Areal Alien　　　　.
　　.　　　　　　　　　　　.
　　　　　　　　　　 ●▬▬▬๑ 💙 ๑▬▬▬●　　　　　　()
　　+　　　　　　. 　　　　　　　　　　　　　　o
　o　　　　　　　　　　　 ▄▀▄　　　▄▀▄　　　　　　　+
　　　　　　+　　　　　 ▄█░░▀▀▀▀▀░░█▄　　.
　　　.　　　　　 ▄▄ 　█░░░░░░░░░░░█　▄▄
　　　　　　.　 █▄▄█　█░░▀░░┬░░▀░░█　█▄▄█　　　o

-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-* |
- */

/* Table of contents

    1. Imports
    2. Global styles
        2.1 Typography
        2.2 Buttons
        2.3 Lists
        2.4 Forms
    3. Classes
        3.1 Loading
        3.2 Global Classes
            3.2.1 Flexbox
            3.2.2 Fonts
        3.3 Classes
            3.3.1 Navbar
            3.3.2 Header
            3.3.4 Main
            3.3.5 Footer
    4. ::Selectors
    5. @Keyframes
    6. @Media Rules
        6.1 max-width: 1660px
        6.2 max-width: 1456px
        6.3 max-width: 1024px
        6.4 max-width: 756px
        6.5 max-width: 576px
        6.6 max-width: 496px

*/

/* ============
    1. Imports
   ============ */

@import "variables.css";

@font-face {
    font-family: "Bebas Regular";
    src: url(../fonts/bebas/BebasNeue-Regular.otf);
}

/* ==================
    2. Global Styles
   ================== */

*, *::before, *::after {
    box-sizing: inherit;
    cursor: none;
}
html, body {
    margin: 0;
    width: 100%;
    color: hsl(var(--text-primary));
    font-family: var(--font-main);
    background-color: hsl(var(--background));
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* ================
    2.1 Typography
   =============== */

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
/* Font Size */
h1 {
    font-size: var(--heading-large);
}
h2 {
    font-size: var(--heading-medium);
}
h3 {
    font-size: var(--heading-small);
}
h4 {
    font-size: calc(var(--heading-small) - .2rem);
}
h5 {
    font-size: calc(var(--heading-small) - .4rem);
}
h6 {
    font-size: calc(var(--heading-small) - .6rem);
}
/* Font Weight */
h1, h2 {
    font-weight: 900;
}
h3, h4, h5, h6 {
    font-weight: 800;
}
/* Paragraphs */
p {
    margin: 0;
    font-size: var(--paragraph);
}
/* Links */
a {
    color: hsla(var(--primary), 1);
    font-size: var(--paragraph);
    text-decoration: underline;
}
a:visited {
    color: hsla(var(--primary), .5);
}

/* =============
    2.2 Buttons
   ============= */

button {
    padding: .8em 1.2em;
    border: 1px solid hsl(var(--black));
    background-color: var(--background);
    font-size: var(--paragraph);
    outline: none;
}
button:focus {
    box-shadow:
            0 0 0 2px hsl(var(--black)),
            0 0 0 3px hsl(var(--white));
    border: 1px solid transparent;
}

/* ===========
    2.3 Lists
   =========== */

ul, ol {
    margin: 1em 0;
}

/* ===========
    2.4 Forms
   =========== */

form {
    margin: 0;
}
fieldset {
    margin: 0;
    padding: .5em 0;
    border: none;
}
input {
    padding: .8em 1.2em;
    border: 1px solid hsl(var(--black));
    font-size: var(--paragraph);
    outline: none;
}
input:focus {
    box-shadow:
            0 0 0 2px hsl(var(--black)),
            0 0 0 3px hsl(var(--white));
    border: 1px solid transparent;
}
textarea {
    padding: .8em 1.2em;
    font-size: var(--paragraph);
    font-family: var(--font-main);
    outline: none;
}
textarea:focus {
    box-shadow:
            0 0 0 2px hsl(var(--black)),
            0 0 0 3px hsl(var(--white));
    border: 1px solid transparent;
}
select {
    padding: .8em 1.2em;
    border: 1px solid hsl(var(--black));
    font-size: var(--paragraph);
    outline: none;
}
/* Cursor none */
button, a {
    cursor: none;
}

/* ============
    3. Classes
   ============ */

a svg[data-name$="1"] {
    cursor: none;
}

/* =============
    3.1 Loading
   ============= */

.pace {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.pace-inactive {
    display: block !important;
    opacity: 0;
    transition: opacity.25s ease-in-out;
}
.pace .pace-progress {
    top: 0;
    right: 100%;
    width: 100%;
    height: 3px !important;
    background: var(--pace) !important;
    background-size: 105% !important;
    position: fixed;
    z-index: 2000;
}

/* ====================
    3.2 Global classes
   ==================== */

/* ===============
    3.2.1 Flexbox
   =============== */

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* Columns */
.flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.flexbox-col-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.flexbox-col-left-ns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.flexbox-col-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}
.flexbox-col-start-center {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
/* Spacings */
.flexbox-space-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Fonts */
.bebas {
    font-family: var(--font-bebas);
}

/* ===============
    3.3 Classes
   =============== */

.view-width {
    width: 75%;
}
[class*="pribc"] *::selection {
    color: hsl(var(--primary));
    background: hsla(var(--black), .33);
}

/* ==============
    3.3.1 Navbar
   ============== */

#navbar {
    width: 100%;
    height: 5em;
    position: absolute;
    z-index: 100;
}
.navbar-inner {
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
}
/* Left */
.navbar-left {
    height: 100%;
}
.navbar-icon-wrapper {
    height: 100%;
}
.navbar-icon-wrapper svg {
    height: 3.5em;
    fill: hsl(var(--white));
}
/* Right */
.navbar-right {
    width: 100%;
    height: 100%;
}
.navbar-items-wrapper {
    height: 100%;
}
.navbar-items {
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
}
.navbar-item {
    height: 100%;
}
.navbar-item-inner {
    width: 100%;
    height: 100%;
    color: hsl(var(--white));
    text-decoration: none;
    font-weight: 300;
    transition: color .15s ease-in-out;
}
.navbar-item-inner:hover {
    color: hsl(var(--primary));
}
.navbar-item-inner:visited {
    color: hsl(var(--white));
}
.navbar-item-inner:visited:hover {
    color: hsl(var(--primary));
}
.navbar-item-inner span {
    margin: 0 .75em 0 0;
}
.shopping-cart-note {
    top: -.6em;
    left: 1.75em;
    padding: .75em 1.25em;
    position: fixed;
    color: hsl(var(--primary));
    background-color: hsla(var(--white), .2);
    backdrop-filter: blur(.6rem);
    border-radius: .2rem;
    pointer-events: none;
    will-change: transform;
    transition: opacity .15s ease-in-out;
    opacity: 0;
    z-index: 4;
}
.shopping-cart-note-icon {
    font-size: .85rem;
}
.shopping-cart-note-icon ion-icon {
    margin: 0 .6em 0 0;
}

/* ==============
    3.3.2 Header
   ============== */

#header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.header-title {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(hsla(var(--black), .4) 0%, hsla(var(--black), .6) 100%);;
    z-index: 3;
}
.header-title h1 {
    color: hsl(var(--white));
    text-align: center;
    word-break: break-word;
}
/* Header Background */
.header-background-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.header-background {
    min-width: 110%;
    min-height: 110%;
    max-height: 125%;
    position: absolute;
    background-color: hsl(var(--background));
    filter: hue-rotate(-5deg) saturate(1.5);
    object-fit: cover;
}
#header-background {
    transition: transform .3s cubic-bezier(var(--transition-main), 1.275), -webkit-transform .3s cubic-bezier(var(--transition-main), 1.275);
}

/* ============
    3.3.3 Main
   ============ */

#main {
    width: 100%;
    min-height: 75vh;
}
/* Animated Bar */
.animated-bar {
    width: 100%;
    height: 5em;
    background-color: hsl(var(--primary));
    user-select: none;
}
.animated-bar-inner {
    width: 100%;
    height: 100%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}
.animated-bar-inner > .animated-first {
    position: absolute;
    transform: translate(0);
    animation: animatedBar1 25s linear infinite;
    text-overflow: ellipsis;
}
.animated-bar-inner > .animated-second {
    position: absolute;
    transform: translate(-100%);
    animation: animatedBar2 25s linear infinite;
    text-overflow: ellipsis;
}
.animated-heart {
    height: 1em;
}
/* Featured Row */
.featured-row {
    margin: 10em 0;
    overflow: hidden;
}
.featured-row p {
    color: hsla(var(--white), .5);
    font-weight: 200;
}
.featured-row h3 {
    margin: 0 0 .25em 0;
    color: hsl(var(--white));
    font-size: var(--heading-medium);
}
.featured-row-inner {
    width: 100%;
    min-width: 1024px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .1em;
}
.featured-item {
    width: 100%;
    position: relative;
    background-color: hsl(var(--background-secondary));
    overflow: hidden;
}
.featured-item-title {
    margin: 0;
    position: absolute;
    color: hsl(var(--white));
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    transition: all .4s cubic-bezier(var(--transition-main), 1);
    z-index: 3;
}
.feat-top {
    top: -100%;
    left: 1.5em;
}
.featured-item:hover .feat-top {
    top: 2em;
}
.feat-bottom {
    left: 1.5em;
    bottom: 2em;
}
.featured-item:hover .feat-bottom {
    bottom: -100%;
}
.featured-item-title h3 {
    font-size: calc(var(--paragraph) + .5rem);
}
.featured-discover {
    bottom: -100%;
    display: grid;
    position: absolute;
    place-items: center;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1em;
    color: hsl(var(--white));
    font-size: calc(var(--paragraph) + .5rem);
    letter-spacing: .1em;
    transition: all .4s cubic-bezier(var(--transition-main), 1);
    z-index: 3;
}
.featured-discover p {
    color: hsla(var(--white), 1);
}
.featured-discover-bar {
    width: 2.75em;
    height: .1em;
    background-color: hsl(var(--white));
}
.featured-item:hover .featured-discover {
    bottom: 2em;
}
.featured-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: hsla(var(--black), 0);
    transition: all .4s ease-in-out;
    z-index: 2;
}
.featured-item:hover .featured-overlay {
    background-color: hsla(var(--black), .5);
}
.featured-item-image {
    width: 100%;
}
/* Product View */
.product-view {
    margin: 10em 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}
.product-view a {
    background-color: hsl(var(--background-secondary));
    text-decoration: none;
}
.product-view-item {
    width: 100%;
    height: 1fr;
    position: relative;
    overflow: hidden;
}
.product-view-item::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.product-info {
    padding: 2em;
}
.product-item-top {
    color: hsl(var(--white));
}
.product-item-top p {
    color: hsl(var(--quite-gray));
}
.product-item-image {
    height: 32%;
    position: absolute;
}
.pitem2 {
    display: none;
}
/* Cart */
.cart-wrapper {
    margin: 10em 0;
    min-height: 100vh;
}
.cart-top {
    margin: 0 0 3em 0;
    color: hsl(var(--white));
}
.cart-items-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 65% 1fr;
    align-items: start;
    grid-gap: 3em;
}
/* Note */
.cart-item-remove-note {
    top: -.6em;
    left: 1.75em;
    padding: .75em 1.25em;
    position: fixed;
    color: hsl(var(--primary));
    background-color: hsla(var(--white), .2);
    backdrop-filter: blur(.6rem);
    border-radius: .2rem;
    pointer-events: none;
    will-change: transform;
    transition: opacity .15s ease-in-out;
    opacity: 0;
    z-index: 4;
}
.cart-item-remove-note-icon {
    font-size: .85rem;
}
.cart-item-remove-note-icon ion-icon {
    margin: 0 .6em 0 0;
}
/* Cart Items */
.quite-gray {
    color: hsl(var(--quite-gray));
}
.cart-items {
    padding: 2.5em;
    display: grid;
    color: hsl(var(--white));
    background-color: hsl(var(--background-cart));
    grid-template-columns: 100%;
    grid-gap: 3em;
    border-radius: .44em;
}
.cart-item {
    display: grid;
    grid-template-columns: 8em 1fr auto auto;
    grid-gap: 2em;
}
.cart-item-image-wrapper {
    width: 100%;
    height: 1fr;
    position: relative;
    border-radius: 1em;
}
.crt-itm-img-1 {
    background: linear-gradient(130deg, hsl(var(--yellow)) 0, hsl(var(--orange)) 100%);
    box-shadow: 0 20px 28px -20px hsla(var(--orange), .4);
}
.crt-itm-img-2 {
    background: linear-gradient(130deg, hsl(var(--blue)) 0, hsl(var(--purple)) 100%);
    box-shadow: 0 20px 28px -20px hsla(var(--purple), .4);
}
.crt-itm-img-3 {
    background: linear-gradient(130deg, hsl(var(--green)) 0, hsl(var(--teal)) 100%);
    box-shadow: 0 20px 28px -20px hsla(var(--teal), .4);
}
.cart-item-image-wrapper::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.cart-item-info-wrapper {
    width: 100%;
    height: 100%;
}
.cart-item-info-wrapper p {
    color: hsl(var(--quite-gray));
}
.cart-item-price-wrapper {
    width: 100%;
    height: 100%;
    font-weight: 200;
}
.cart-item-last {
    padding: 0 1em 0 2em;
}
.cart-item-remove {
    width: 1em;
    height: 1em;
    position: relative;
    background-color: hsla(var(--red), 1);
    border-radius: 50%;
    transition: all .15s ease-in-out;
}
.cart-item-remove:hover {
    background-color: hsla(var(--red), .5)
}
.cart-item-rem-ico {
    width: 75%;
    height: 75%;
    position: relative;
    transform: rotate(45deg);
}
.crt-itm-rem-lin1 {
    width: 80%;
    height: .1em;
    position: absolute;
    background-color: hsl(var(--background-cart));
    border-radius: 1em;
}
.crt-itm-rem-lin2 {
    width: .1em;
    height: 80%;
    position: absolute;
    background-color: hsl(var(--background-cart));
    border-radius: 1em;
}
/* Order Details */
.order-details {
    padding: 2.5em;
    width: 100%;
    color: hsl(var(--white));
    background-color: hsl(var(--background-cart));
    border-radius: .44em;
}
.order-details-inner {
    width: 100%;
}
.order-details-top {
    margin: 1.5em 0 0 0;
    width: 100%;
}
.order-details-item-price {
    font-weight: 200;
}
.mva {
    margin: .5em 0;
}
.mva p:nth-child(1) {
    color: hsl(var(--quite-gray));
}
.mva p:nth-child(2) {
    color: hsl(var(--teal));
}
.order-details-bottom {
    margin: 3em 0 1.5em 0;
    width: 100%;
}
.order-details .button {
    font-weight: 700;
}
/* Checkout */
.checkout {
    margin: 10em 0;
    min-height: 100vh;
}
.checkout-top {
    margin: 0 0 3em 0;
    color: hsl(var(--white));
}
.checkout-inner {
    width: 100%;
    display: grid;
    grid-template-columns: 65% 1fr;
    place-items: start;
    grid-gap: 3em;
    border-radius: .44em;
}
#checkout-form {
    padding: 2.5em;
    width: 100%;
    color: hsl(var(--white));
    background-color: hsl(var(--background-cart));
    border-radius: .44em;
}
#checkout-form > p {
    color: hsl(var(--gray));
    margin: 0 0 1.5em 0;
}
.input-grid {
    display: grid;
    grid-gap: 2em;
}
.inpt-grd-1 {
    grid-template-columns: 1fr;
}
.inpt-grd-2 {
    grid-template-columns: repeat(2, 1fr);
}
.inpt-grd-3 {
    grid-template-columns: repeat(3, 1fr);
}
.inpt-grd-crd {
    margin: 3em 0 0 0;
}
.input-wrapper {
    width: 100%;
}
.input-wrapper p {
    margin: 0 0 .5em 0;
    color: hsl(var(--quite-gray));
    font-weight: 200;
}
.input-inner {
    width: 100%;
    position: relative;
}
.input-inner ion-icon {
    left: .9em;
    position: absolute;
    color: hsl(var(--white));
    font-size: calc(var(--paragraph) + .25rem);
}
.input {
    padding: 1em 1em 1em 3em;
    width: 100%;
    color: hsl(var(--white));
    background-color: hsl(var(--grooble));
}
.select {
    padding: 1em 1em 1em 1em;
    width: 100%;
    color: hsl(var(--white));
    background-color: hsl(var(--grooble));
}
.select.-select {
    -webkit-appearance: none;
    background-image: url(../images/down-arrow.svg);
    background-size: 1em;
    background-position: 95% center;
    background-repeat: no-repeat;
}
.checkout-note {
    padding: 1.5em 0 0 0;
}
/* Order Confirmation */
.order-confirmation {
    margin: 10em 0;
    min-height: 100vh;
    color: hsl(var(--white));
}
/* Contact */
.contact {
    margin: 10em 0;
    min-height: 100vh;
}
.contact-inner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
}
.map-wrapper {
    width: 100%;
}
#map {
    width: 100%;
    height: 1fr;
    position: relative;
    cursor: none !important;
}
#map::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
#map * {
    cursor: none !important;
}
.leaflet-control-container {
    display: none !important;
    pointer-events: none !important;
    opacity: 0 !important;
}
#contact-form {
    padding: 2.5em;
    width: 100%;
    color: hsl(var(--white));
    background-color: hsl(var(--background-cart));
    border-radius: .44em;
}
#contact-form > p {
    color: hsl(var(--gray));
    margin: 0 0 1.5em 0;
}
/* Formats */
.formats {
    margin: 10em 0;
    min-height: 100vh;
}
.formats-inner {
    width: 100%;
    display: grid;
    grid-gap: 3em;
    grid-template-columns: repeat(2, 1fr);
    color: hsl(var(--white));
}
.formats-item {
    width: 100%;
}
/* Buttons */
.button-wrapper {
    margin: 1em 0;
}
.button, .btn-secondary {
    margin: 0;
    width: 100%;
    position: relative;
    padding: 1.2em 1.8em;
    color: hsl(var(--background));
    font-size: var(--paragraph);
    background: var(--pace);
    background-size: 500%;
    border: none;
    transform: scaleX(1);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), filter .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275), -webkit-filter .3s cubic-bezier(.175,.885,.32,1.275);
}
.button {
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275);
}
.button, .button .btn-secondary {
    background-position: 0 50%;
    bottom: 0;
}
.button .btn-secondary {
    left: 0;
    width: 100%;
    position: absolute;
    filter: blur(1rem);
    opacity: .5;
    z-index: -1;
    transform: scale3d(.85, .85, 1);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), filter .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275), -webkit-filter .3s cubic-bezier(.175,.885,.32,1.275);
}
.button:focus {
    outline: none;
}
.button:hover {
    transform: scale3d(1.1, 1.1, 1);
    background-position: 100% 50%;
    outline: none;
    bottom: 2px;
}
.btn-secondary, .button:hover .btn-secondary {
    background-position: 100% 50%;
    filter: blur(1.6rem);
    bottom: -5px;
}

/* ==============
    3.3.4 Footer
   ============== */

#footer {
    width: 100%;
    min-height: 10em;
    background-color: hsl(var(--background-secondary));
}
.footer-inner {
    padding: 8em 0;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10em;
}
/* Left */
.footer-left {
    height: 100%;
}
.footer-icon-wrapper svg {
    width: 5em;
    fill: hsla(var(--white), .1);
}
/* Right */
.footer-right {
    width: 100%;
    height: 100%;
}
.footer-sections {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5em;
}
.footer-section {
    width: 100%;
}
.footer-section-heading {
    color: hsl(var(--white));
    letter-spacing: .05em;
}
.footer-section-items-wrapper {
    margin: 1em 0 0 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer-section-items {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    place-items: flex-start;
    grid-gap: .5em;
    overflow: hidden;
    white-space: nowrap;
}
.footer-section-item-inner {
    display: inline-block;
    position: relative;
    color: hsl(var(--gray));
    text-decoration: none;
    font-weight: 300;
    text-overflow: ellipsis;
    transition: color .15s ease-in-out;
}
.footer-section-item-inner:hover {
    color: hsl(var(--primary));
}
.footer-section-item-inner:visited {
    color: hsl(var(--gray));
}
.footer-section-item-inner:hover:visited {
    color: hsl(var(--primary));
}
.footer-section-item-inner::after {
    top: 0;
    left: 0;
    content: '';
    width: 0;
    display: block;
    position: relative;
    border-bottom: 1px solid hsl(var(--gray));
    transition: width .15s ease-in-out, color .15s ease-in-out;
}
.footer-section-item-inner:hover::after {
    border-bottom: 1px solid hsl(var(--primary));
}
.footer-section-item-inner:hover::after {
    width: 100%;
}

/* ================
    4. ::Selectors
   ================ */

/* Selection */
::selection {
    color: hsl(var(--white));
    background: hsla(var(--primary), .33);
}
/* Scrollbar */
::-webkit-scrollbar-track {
    background-color: hsl(var(--background));
}
::-webkit-scrollbar {
    width: 8px;
    background-color: hsl(var(--background));
}
::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
}

/* ===============
    5. @keyframes
   =============== */

@keyframes animatedBar1 {
    0% { transform: translate(0); }
    0% { transform: translate(100%); }
}
@keyframes animatedBar2 {
    0% { transform: translate(-100%); }
    0% { transform: translate(0); }
}

/* =================
    6. @media rules
   ================= */

/* =======================
    6.1 max-width: 1660px
   ======================= */

@media only screen and (max-width: 1660px) {
    :root {
        /* Sizes */
        --heading-large: 5.4rem;
        --heading-medium: 3.4rem;
        --heading-small: 2.2rem;
    }
}

/* =======================
    6.2 max-width: 1456px
   ======================= */

@media only screen and (max-width: 1456px) {
    :root {
        /* Sizes */
        --heading-large: 5.2rem;
        --heading-medium: 3.2rem;
        --heading-small: 2rem;
    }
    .view-width {
        width: 80%;
    }
}

/* =======================
    6.3 max-width: 1024px
   ======================= */

@media only screen and (max-width: 1024px) {
    :root {
        /* Sizes */
        --heading-large: 5rem;
        --heading-medium: 3rem;
        --heading-small: 1.8rem;
    }
    .view-width {
        width: 90%;
    }
}

/* ======================
    6.4 max-width: 756px
   ====================== */

@media only screen and (max-width: 756px) {
    :root {
        /* Sizes */
        --heading-large: 4rem;
        --heading-medium: 2.6rem;
        --heading-small: 1.6rem;
        --paragraph: 1rem;
    }
    .view-width {
        width: calc(100% - 2em);
    }
    /* Navbar */
    /* Right */
    .navbar-items-wrapper {
        display: none;
    }
    /* Main */
    /* Product View */
    .product-view {
        grid-template-columns: 100%;
    }
    /* Cart */
    .cart-items-wrapper {
        grid-template-columns: 100%;
        grid-gap: 3em;
    }
    /* Footer */
    .footer-inner {
        grid-template-columns: 100%;
        place-items: center;
    }
    /* Right */
    .footer-sections {
        display: grid;
        grid-template-columns: 100%;
        place-items: center;
        grid-gap: 2.5em;
    }
}

/* ======================
    6.5 max-width: 576px
   ====================== */

@media only screen and (max-width: 576px) {

}

/* ======================
    6.6 max-width: 496px
   ====================== */

@media only screen and (max-width: 496px) {

}